<section>
    <h4>Další články</h4>
    <ul class="list-style-none">
        <li n:foreach="$relatedPosts as $relatedPost"><a n:href="Homepage:detail $relatedPost->link">{$relatedPost->title}</a></li>
    </ul>
</section>