<form n:name="postForm">
    <label for="title">Nadpis</label>
    <input n:name="title" id="title">

    <label for="content">Text</label>
    <textarea n:name="content" id="content"></textarea>

    <label for="category">Kategorie</label>
    <select n:name="category" id="category"></select>

    <button n:name="send">Uložit</button>
</form>