<div>Vyhledávání dle názvu článku</div>
<form n:name="searchForm" class="row">
    <input n:name="search" class="mr1" placeholder="zadejte název článku">
    <button n:name="send" class="bg-green">Vyhledat</button>
</form>