{block content}

<article class="container max-width-4 mx-auto my4 center">
    {include TEMPLATES_DIR . '/Layout/header.latte'}

    <h1 n:block=title class="center">Blog webového vývojáře</h1>
    <img src="{$basePath}/images/petr_bw.jpg" alt="autor blogu">
    <div class="mt2">
        <h2>Petr Svoboda</h2>
        <p>Mám rád stručné, jasné a přehledné informace. Rád vytvářím užitečné webové stránky a aplikace. Jezdím na kole a chodím pěšky v přírodě.</p>
    </div>
</article>